# requirements.txt

# Basic dependencies
enum34==1.1.10
numpy==1.22.0
nltk==3.6.6

# Arabic language processing
pyarabic==0.6.10

# Regular expression
regex==2021.10.23

# Machine learning frameworks
tensorflow==2.11.1
keras==2.7.0
gensim==4.2.2

# Tokenization and preprocessing
keras-preprocessing==1.1.2

# Word embedding models
gensim-models==4.1.2

